
html,
body,
div,
h1,
p,
a,
video {
  margin: 31px;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Oswald', sans-serif;
}

.video {
  position: fixed;
  top: 50%; left: 50%;
  z-index: 1;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
}

.content {
  position: relative;
  top: 30%;
  z-index: 2;
  margin: 130px auto;
  max-width: 720px;
  text-align: center;
}

.content__heading {
  margin-bottom: 24px;
  color: white;
  font-size: 54px;
}

.content__teaser {
  margin-bottom: 24px;
  font-size:40px;
  font-family: 'Oswald', sans-serif;
  border-left: 5px solid #3E7C87;
  padding-left: 15px;
  color:#C43838;
  background-color:white 0.25%;


}
}

.content__cta {
  display: inline-block;
  margin: 0;
  padding: 12px 48px;
}

#quote-text{
  width: 80%;
  height:25%;
  margin:0 auto;
  background: rgb(215, 215, 215, 0.23);
  border:solid #3E7C87 3px;
  border-radius:15px;
  background-color: rgba(255,255,255,0.35);
  color:white;
  min-height:120px;
  font-size:25px;
  font-family: 'PT Sans Narrow', sans-serif;


}

p {
    margin: 27px auto;
}

button {

padding: 10px 15px 11px !important;
font-size: 18px !important;
background-color: #3E7C87;
font-weight: bold;
text-shadow: 1px 1px #3E7C87;
color: #ffffff;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border: 1px solid white;
cursor: pointer;
width:148px;
box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
}

